main {
  background-color: $primary_color-default;
}

.rightBar {
  &_nav {
    @include flex-column;
    width: 74px;
    background: #241d17;
    border: 2px solid $textColor-tint;
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 101;
    padding: 10px;
    border-radius: 15px 0 0 15px;
    transform: translateY(-50%);
    transition: opacity 1s, right 1s;

    li {
      @include flex-center;
      width: 50px;
      height: 50px;
      cursor: pointer;
      border-radius: 50%;
      position: relative;

      &:nth-last-child(1) {
        &:hover {
          background-color: transparent;
        }
      }

      span {
        display: inline-block;
        width: 40px;
        height: 40px;

        &.noticeBoard {
          background: url("/images/icon/volume.svg");

          &:hover {
            background: url("/images/icon/volume-hover.svg");
          }
        }

        &.liveChat {
          background: url("/images/icon/phone.svg");

          &:hover {
            background: url("/images/icon/phone-hover.svg");
          }
        }

        &.appDownload {
          background: url("/images/icon/download.svg");

          &:hover {
            background: url("/images/icon/download-hover.svg");
          }
        }

        &.promotion {
          background: url("/images/icon/gift.svg");

          &:hover {
            background: url("/images/icon/gift-hover.svg");
          }
        }

        &.icon-close {
          background: url("/images/icon/xmark.svg");
          opacity: 0.8;
          width: 30px;
          height: 30px;

          &:hover {
            opacity: 1;
          }
        }
      }

      p {
        display: none;
        color: $primary_color-tint;
        background-color: $textColor-tint;
        font-size: 12px;
        text-align: center;
        padding: 0 10px;
        position: absolute;
        white-space: nowrap;
        top: 10px;
        right: 75px;
        border-radius: 3px;
        line-height: 30px;
        user-select: none;

        &::after {
          border-top: 10px solid #fae9be;
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          transform: rotate(-90deg);
          right: -10px;
          top: 10px;
        }
      }

      &:hover {
        background-color: $textColor-tint;

        p {
          display: block;
        }
      }
    }
  }

  &_showBtn {
    background: #241d17;
    border: 2px solid $textColor-tint;
    position: fixed;
    top: 50%;
    right: -100px;
    z-index: 101;
    border-radius: 15px 0 0 15px;
    transform: translateY(-50%);
    padding: 15px 10px;
    opacity: 0;
    transition: opacity 1s, right 1s;
    width: 78px;
    height: 110px;

    &-txt {
      display: block;
      font-weight: 600;
      color: $textColor-tint;
      user-select: none;
      font-size: 18px;
      line-height: 21px;
    }

    &-btn {
      display: block;
      color: #241d17;
      background-color: #fae9be;
      width: 20px;
      margin: 0 auto;
      line-height: 20px;
      text-align: center;
      border-radius: 50%;
      font-weight: 600;
      font-size: 18px;
      margin-top: 5px;
      cursor: pointer;
    }
  }

  .active {
    opacity: 1;
    right: 0px;
  }

  .deactive {
    opacity: 0;
    right: -100px;
  }
}

.bannerWrap {
  position: relative;

  .banner-prevBtn,
  .banner-nextBtn {
    position: absolute;
    z-index: 20;
    top: 50%;
    cursor: pointer;
    font-size: 32px;
    color: #fff;
  }

  .banner-prevBtn {
    left: 10px;
  }

  .banner-nextBtn {
    right: 10px;
  }

  .banners-carousel {
    width: 100%;

    .banner {
      position: relative;
      width: 100%;
      min-height: 305px;
      max-height: 450px;

      &-img {
        width: 100%;
        height: 100%;
        min-height: inherit;
      }

      .banner-bg {
        position: absolute;
        top: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
      }

      .banner-mask {
        position: absolute;
        z-index: 15;
        top: 25px;
        left: 60px;
        width: calc(100% - 120px);
        height: calc(100% - 50px);
        overflow: hidden;

        &-img {
          max-width: calc(100% + 120px);
          max-height: calc(100% + 50px);
          width: calc(100% + 120px);
          height: calc(100% + 50px);
          transform: translate(-60px, -25px);
        }
      }
    }

    .slick-active .banner-bg {
      animation: bgMask 4s ease-out 0.8s;
    }

    .slick-active .banner-mask {
      animation: maskBigger 4s ease-out 0.8s;
    }

    @keyframes bgMask {
      0% {
        background-color: transparent;
      }

      50% {
        background-color: rgba(255, 255, 255, 0.3);
      }

      100% {
        background-color: transparent;
      }
    }

    @keyframes maskBigger {
      0% {
        transform: scale(1);
        box-shadow: 0px 0px 15px transparent;
      }

      50% {
        transform: scale(1.08);
        box-shadow: 0px 0px 15px #000;
      }

      100% {
        transform: scale(1);
        box-shadow: 0px 0px 15px transparent;
      }
    }
  }
}

.helpLink {
  background-color: $primary_color-dark;
  height: 80px;
  @include flex-between;
  padding: 0 10px;

  ul {
    @include flex-between;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;

    li {
      @include flex-center;
      cursor: pointer;

      .link-icon {
        @include flex-center;
        padding: 10px;
        border-radius: 50%;
        border: 1px solid $helpLinkIconColor;
        width: 52px;
        height: 52px;

        img {
          min-width: 45px;
        }
      }

      .link-txt {
        margin-left: 10px;

        span {
          color: $textColor-tint;
          font-size: 16px;
          line-height: 18px;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          overflow: hidden;
          -webkit-box-orient: vertical;
          text-align: left;

          &:nth-child(2) {
            color: $textColor-default;
            font-size: 14px;
          }
        }
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }

  @media screen and (max-width:913px) and (min-width:768px) {
    .link-txt {
      span {
        font-size: 14px;

        &:nth-child(2) {
          font-size: 12px;
        }
      }

    }
  }
}

.gameNav {
  height: 402px;
  width: 95%;
  max-width: 1200px;
  margin: 20px auto;
  display: flex;

  &-left {
    position: relative;
    width: calc(100% - 224px);
    height: 100%;

    .gameNav-bg {
      &-img {
        width: 100%;
        height: 402px;
      }

      .bgSlots {
        width: 100%;
        height: 355px;
        overflow: hidden;
      }

      .bgSlots,
      .bgFishing,
      .bgLiveCasino,
      .bgPoker,
      .bgSports {
        display: none;
      }

      .flexWrapBox {
        display: flex;
        background-color: $primary_color-default;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-bottom: $gameNavBottomH;

        .bgSlots-item {
          width: 180px;
          height: 166px;
          margin-bottom: 15px;

          &-img {
            @include flex-center;
            position: relative;
            height: 136px;

            img {
              height: 100%;
            }

            &-btn {
              opacity: 0;
              position: absolute;
              top: 0;
              bottom: 0;
              right: 0;
              left: 0;
              @include flex-column;
              background: rgba(0, 0, 0, .4);

              span {
                font-size: 13px;
                width: 80px;
                height: 32px;
                line-height: 32px;
                display: block;
                cursor: pointer;
                text-align: center;
                border-radius: 20px;
                transition: all 0.3s ease;
                background: $textColor-default;
                color: #ffffff;
              }

              .freeTrialBtn {
                margin-bottom: 10px;
              }
            }
          }

          &:hover {
            .bgSlots-item-img-btn {
              opacity: 1;
            }
          }

          &-txt {
            line-height: 30px;
            text-align: center;
            background: #443636;
            color: $textColor-default;
          }
        }
      }
    }

    .gameNav-bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: $gameNavBottomH;
      background: rgba(0, 0, 0, 0.5);

      &-logoList {
        margin: 0 auto;
        height: $gameNavBottomH;

        li {
          width: 164px;
          height: $gameNavBottomH;
          border-top: 4px solid transparent;
          cursor: pointer;

          &:hover {
            background: rgba(68, 59, 40, .7);
            border-color: $textColor-tint;
          }

          img {
            width: 140px;
            height: 40px;
          }
        }
      }

      .lessFiveLogo {
        @include flex-center;
        width: fit-content;
      }

      .slick-list {
        margin: 0 82px;
      }

      .slick-prev,
      .slick-next {
        display: inline-block;
        height: 100%;
        width: 82px;
        line-height: 100%;
        cursor: pointer;
        user-select: none;

        &:hover {
          background: #443b2a;
        }
      }

      .slick-prev {
        left: 0px;
      }

      .slick-next {
        right: 0px;
      }

      .slick-prev::before,
      .slick-next::before {
        font-weight: 600;
        font-family: 'inherit';
        font-size: 30px;
        color: #fff;
        opacity: 1;
      }

      .slick-prev::before {
        content: '<';
      }

      .slick-next::before {
        content: '>';
      }

      .gameNav-bottom-fishing,
      .gameNav-bottom-liveCasino,
      .gameNav-bottom-poker,
      .gameNav-bottom-slots,
      .gameNav-bottom-sports {
        display: none;
      }
    }
  }

  &-right {
    width: 224px;
    height: 100%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0px;
    }

    ul {
      width: 224px;
      padding: 20px 10px 20px 20px;
      background-color: #241d17;

      .choose-game {
        .gameNav-icon {
          background: $textColor-default;
          opacity: 1;

          .gameNav-icon-lotto {
            background-image: url("/images/icon/lottery-hover.svg");
          }

          .gameNav-icon-fish {
            background: url("/images/icon/fishing-hover.svg") no-repeat center/contain;
          }

          .gameNav-icon-live {
            background: url("/images/icon/livecasino-hover.svg") no-repeat center/contain;
          }

          .gameNav-icon-poker {
            background: url("/images/icon/poker-hover.svg") no-repeat center/contain;
          }

          .gameNav-icon-slot {
            background: url("/images/icon/slots-hover.svg") no-repeat center/contain;
          }

          .gameNav-icon-sport {
            background: url("/images/icon/sports-hover.svg") no-repeat center/contain;
          }
        }

        .gameNav-txt {
          opacity: 1;
        }
      }
    }

    &-item {
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-bottom: 20px;

      .gameNav-icon {
        @include flex-center;
        width: 53px;
        height: 53px;
        background: #5c4d24;
        border-radius: 20px;
        opacity: 0.5;
        flex-shrink: 0;


        span {
          width: 45px;
          height: 45px;
        }

        &-lotto {
          background: url("/images/icon/lottery.svg") no-repeat center/contain;
        }

        &-fish {
          background: url("/images/icon/fishing.svg") no-repeat center/contain;
        }

        &-live {
          background: url("/images/icon/livecasino.svg") no-repeat center/contain;
        }

        &-poker {
          background: url("/images/icon/poker.svg") no-repeat center/contain;
        }

        &-slot {
          background: url("/images/icon/slots.svg") no-repeat center/contain;
        }

        &-sport {
          background: url("/images/icon/sports.svg") no-repeat center/contain;
        }

      }

      .gameNav-txt {
        color: $textColor-default;
        opacity: 0.5;
        font-size: 19px;
        padding-left: 35px;
      }

      &:hover {
        .gameNav-icon {
          background: $textColor-default;
          opacity: 1;

          .gameNav-icon-lotto {
            background-image: url("/images/icon/lottery-hover.svg");
          }

          .gameNav-icon-fish {
            background: url("/images/icon/fishing-hover.svg") no-repeat center/contain;
          }

          .gameNav-icon-live {
            background: url("/images/icon/livecasino-hover.svg") no-repeat center/contain;
          }

          .gameNav-icon-poker {
            background: url("/images/icon/poker-hover.svg") no-repeat center/contain;
          }

          .gameNav-icon-slot {
            background: url("/images/icon/slots-hover.svg") no-repeat center/contain;
          }

          .gameNav-icon-sport {
            background: url("/images/icon/sports-hover.svg") no-repeat center/contain;
          }
        }

        .gameNav-txt {
          opacity: 1;
        }
      }
    }
  }
}

.playOnMobile {
  @include max-1200;
  background: url("/images/beautyGirl1.png") no-repeat 160px bottom/contain;
  padding-top: 20px;
  display: flex;

  .prize {
    background: #110e09;
    width: 410px;
    height: $prizeH;

    &_title {
      line-height: $prizeTitleH;
      font-size: 28px;
      font-weight: 700;
      text-align: center;
      color: #110e09;
      background-color: $textColor-default;
    }

    &_info {
      display: flex;
      justify-content: space-around;
      text-align: center;
      line-height: $prizeInfoH;
      font-size: 18px;
      color: $textColor-default;
    }

    &_marquee {
      text-align: center;
      overflow: hidden;
      height: $prizeMarqueeH;

      .winList {
        animation: moveUp 40s linear infinite;

        &:hover {
          animation-play-state: paused;
        }

        .win-item {
          width: 100%;
          height: 82px;
          padding: 12px;
          border-radius: 12px;
          background-color: rgba(0, 0, 0, 0.3);
          display: flex;
          align-items: center;
          transition: all 0.2s;

          &:hover {
            opacity: 0.7;
          }

          img {
            width: 58px;
            height: 58px;
            border-radius: 12px;
            margin-right: 10px;
          }
        }

        .win-game {
          flex: 2;
          text-align: left;

          .custom-name {
            color: #fff;
            font-size: 14px;
            font-weight: 700;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .game-name {
            line-height: 1.5;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 12px;
            font-weight: 700;
            color: $textColor-tint;

            span {
              color: $textColor-default;
            }
          }
        }

        .win-amount {
          font-size: 16px;
          font-weight: 700;
          color: #f1c137;
          text-align: right;
        }

        @keyframes moveUp {
          0% {
            transform: translate(0px, 0px);
          }

          100% {
            transform: translate(0px, -1240px);
          }
        }
      }
    }
  }

  .qrcode {
    margin: 23px 0 0 103px;
    color: $textColor-default;
    font-size: 25px;
    text-align: center;
    line-height: 1.5;

    &_title {
      font-weight: 600;
      font-size: 32px;
    }

    &_img {
      width: 160px;
      margin: 10px auto 5px;
    }

    &_icon {
      @include flex-center;
      width: 160px;
      margin: 0 auto 35px;

      span {
        @include flex-center;
        width: 45px;
        height: 45px;
        margin: 0 6px;
        cursor: pointer;
        background-color: $textColor-default;
        border-radius: 50%;

        img {
          width: 30px;
        }

        &:nth-child(2) {
          background-color: #636363;
        }
      }
    }
  }
}

.bottomGameLink {
  @include max-1200;
  width: 100%;
  padding: 100px 60px 20px;
  @include flex-between;
  background: url("/images/beautyGirl2.png") no-repeat 30px bottom/contain;

  &Items {
    display: flex;
    height: 328px;
  }

  &_item {
    width: 111px;
    cursor: pointer;
    margin-right: 47px;

    span {
      display: block;
    }

    &_img {
      width: 100%;
      height: 111px;

      &.liveVideoIcon {
        background: url("/images/liveVedio-icon.png") no-repeat center/contain;
      }

      &.SlotsGamesIcon {
        background: url("/images/slots-icon.png") no-repeat center/contain;
      }

      &.SportsBettingIcon {
        background: url("/images/sports-icon.png") no-repeat center/contain;
      }

      &.LotteryGamesIcon {
        background: url("/images/lottery-icon.png") no-repeat center/contain;
      }
    }

    &_title {
      text-align: center;
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
      color: $textColor-tint;
    }

    &_txt {
      text-align: center;
      line-height: 20px;
      font-size: 10px;
      color: $textColor-default;
    }

    &:nth-child(2) {
      margin-right: 0px;
    }

    &:hover {
      .liveVideoIcon {
        background: url("/images/liveVedio-icon-hover.png") no-repeat center/contain;
      }

      .SlotsGamesIcon {
        background: url("/images/slots-icon-hover.png") no-repeat center/contain;
      }

      .SportsBettingIcon {
        background: url("/images/sports-icon-hover.png") no-repeat center/contain;
      }

      .LotteryGamesIcon {
        background: url("/images/lottery-icon-hover.png") no-repeat center/contain;
      }
    }
  }
}
